@mixin createNewsCard($card-class, $columns, $h1-margin) {
  .#{$card-class} {
    grid-column: #{$columns};

    img {
      max-height: 450px;
      width: 100%;
      object-fit: cover;
    }
  
    h1 {
      margin: $h1-margin;
      // padding: 1rem 0;
    }

    h3 {
      margin: 1rem 0 0 0;
      padding: 0 0 0 .5rem;
    }

    p {
      padding: 0 .5rem;
      line-height: 1.25;

      font-size: 1.25rem;
    }

  }
}

.thumb-card {
  display: flex;

  .thumb-text-wrap {
    display: flex;
    flex-direction: column;

    padding-left: 2rem;
  }

  img {
    width: 150px;
  }

  h2 {
    font-size: calc(20px + (32 - 20) * ((100vw - 50px) / (1600 - 500)));
  }

  p {
    padding: 0;
    line-height: 1.25;

    font-size: 1.1rem;
  }
}

//-------------------details main section--------------------------
.detailsMain {
  padding: $main-vertical-padding;
}

.detailsMain p {
  margin-bottom: 1rem;
  padding: 1rem $content-right-padding 1rem $content-left-padding;
}


.detailsMain h1 {
  padding: 0 $content-right-padding 0 $content-left-padding;
}

.detailsBox{
  background-image: url('https://i.picsum.photos/id/1023/3955/2094.jpg');
  height: 20vh;
  margin: .5rem $content-right-padding .5rem $content-left-padding;
  background-position: center;
  background-size:100%;
  background-repeat: no-repeat;
}
//---------------------------------------------------------------





@include createNewsCard("news-card",$single-column, 1rem 0);
@include createNewsCard("news-card-2",$two-column, 3rem 0 1rem 0);
