footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;

  height: 30vh;
  
  background-color: $deep-sea;
  text-align: center;
  
}