.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 22vh;
  min-height:150px;

  overflow-x: hidden;
  
  .header-top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;

    min-height: 100px;
    height: 100%;

    padding: $header-rl-padding;


    .logo {
      width: calc(50px + (100 - 50) * ((100vw - 500px) / (1600 - 500)));
    }
  }
  
  background-color: $deep-sea;
}
