
.nav-style {
  background-color: $deep-pink;
  width:100%;
  min-height: 50px;
  height: 7.75vh;
  max-height: 100%;
}

.hub-links {
  background-color: $sea;
}

.nav {
  display: block;

  ul {
    display: flex;
    justify-content: flex-start;

    @extend .nav-style;

    padding-left: $content-left-padding;

    ul > li:first-child a {
      padding-left: 0;
    }

    li{
      display: flex;
      flex-grow:1;
      flex-shrink: 1;
      align-items: center;
      align-content: center;
    }
  
    a {
      flex-grow:1;
      display: block;
      line-height: 7.75vh;
  
      font-size: 1.25rem;
      color: $navy-denim;
    }
  }
}


.ham-wrap {
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  width: 42px;
  height: 42px;
  border-radius: 3px;

  background-color: black;

  cursor: pointer;

  .line-1,
  .line-2,
  .line-3 {
    width: 34px;
    height:4px;
    background-color: white;
    border-radius: 2px;
    transition: all .1s;

  }
}


.open-ham {
  transform: translateX(-300px);

  .line-3 {
    transform: translate(0, -12px) rotate(45deg);
  }
  
  .line-2 {
    transform: translateX(-20px);
    opacity: 0;
  }
  
  .line-1 {
      transform: translate(0, 12px) rotate(-45deg);
    }
}


header {
  min-height: 0;
}