
.nav-style {
  // background-color: $light-pink;
  background-color: $deep-pink;
  width:100%;
  min-height: 50px;
  height: 7.75vh;
  max-height: 100%;
}

// .nav {
//   display: block;

//   ul {
//     display: flex;
//     justify-content: flex-start;

//     @extend .nav-style;

//     padding-left: $content-left-padding;

//     ul > li:first-child a {
//       padding-left: 0;
//     }

//     li{
//       display: flex;
//       flex-grow:1;
//       align-items: center;
//       align-content: center;
//     }
  
//     a {
//       flex-grow:1;
//       display: block;
//       line-height: 7.75vh;
  
//       font-size: 1.25rem;
//       color: $navy-denim;
//     }
//   }
// }


.ham-wrap {
  // display: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  width: 42px;
  height: 42px;
  border-radius: 3px;

  background-color: black;

  cursor: pointer;

  .line-1,
  .line-2,
  .line-3 {
    width: 34px;
    height:4px;
    background-color: white;
    border-radius: 2px;

  }
  // maybe for animation
  // .line-2 {
  //   display: none;
  // }
}


header {
  min-height: 0;
}

.nav,
.open {
  display: flex;
  position: fixed;
  justify-content: flex-end;
  align-self: flex-end;

  transform: translateX(300px);

  width: 40vw;
  max-width: 300px;

  background-color: $deep-pink;
  height: 100vh;

  transition: all .1s; 

  ul {
    display: flex;
    flex-direction: column;
    width:100%;

    background-color: $deep-pink;

    // justify-content: flex-start;
    align-content: space-evenly;

    // @extend .nav-style;

    // padding-left: $content-left-padding;
    padding-left: 0;

    ul > li:first-child a {
      padding-left: 0;
    }

    li{
      display: flex;
      // flex-grow:1;
      align-items: center;
      align-content: center;
      justify-content: center;
    }
  
    a {
      // flex-grow:1;
      display: block;
      flex-grow:1;
      line-height: 7.75vh;

      text-align: center;

      padding: .75rem 1.5rem;
  
      font-size: 1.25rem;
      color: $navy-denim;
    }
  }
}


.header {
  overflow-x: hidden;
}

// .header:hover > nav {
//   // transform: translateX(0);
// }

main {
  display: none;
}


.hub-links {
  background-color: $sea;
}


.ham-wrap:hover > .line-3 {
  transform: rotate(45deg);
}

.ham-wrap:hover > .line-1 {
    // transform: rotate(-45deg);
    transform: translateY(50%) rotate(-45deg);
  }

