.news-panel {
  display: grid;
  grid-template-columns: 11fr 9fr;
  gap: 8vw;

  padding: $main-vertical-padding;

  border-bottom: 2px solid $deep-sea;
}

.article-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main > .news-panel:last-child {
  border-bottom: none;
}