/* Color Theme Swatches in RGBA */

$navy-denim: hsla(238, 35, 18, 1);

$deep-pink: rgba(184,94,142, 1);
$sun-line: rgba(255,216,182, 1);
$sun-line-lighten: rgba(255,216,182, 0.4);
$light-pink: rgba(255,162,193, 1);
$sea: rgba(121,201,189, 1);
$deep-sea: rgba(114,176,167, 1);


// Type-setting
$sans-serif: "Zeitung", "Helvetica", sans-serif;

$serif: "Karmina", "Garamond", serif;

$h1-responsive-font:calc(32px + (40 - 32) * ((100vw - 500px) / (1600 - 500)));
$h2-responsive-font:calc(18x + (26 - 18) * ((100vw - 500px) / (1600 - 500)));
$h3-responsive-font:calc(16px + (24 - 16) * ((100vw - 500px) / (1600 - 500)));
$h4-responsive-font:calc(14px + (20 - 14) * ((100vw - 500px) / (1600 - 500)));


//Reusable dimension and sizing variables 

  // Header
  $header-rl-padding: 0 22vh;
  $header-media-padding: 5vmin;


  // Main

  $main-vertical-padding: 11vh 0;
  $content-left-padding: 22vmin;
  $content-right-padding: 22vmin;
  $con-right-pad-slim: 2.5vw;

  $media-lr-padding: 0 15vmin;

  // Sections

  $media-article-padding: 0 0 11vmin 0;
  $media-thumb-padding:11vmin 0 0 0;

  // column assignment
  $single-column: "1/2";
  $two-column: "1/3";
 
