body{
  background-color: $sun-line-lighten;

  font-family: $sans-serif;

  height: 100vh;
}

ul > li > a {
  padding: 0 1.5rem;
}

main {
  padding-left: $content-left-padding;
  padding-right: $content-right-padding;
}

h1 {
  font-size: $h1-responsive-font;
}

h2 {
  font-size: $h2-responsive-font;
}

h3 {
  font-size: $h3-responsive-font;
}

h4 {
  font-size: $h4-responsive-font;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $serif;

}









@media screen and (max-width:900px) {

  .header {
    height: 11vh;
    min-height:100px;
    
    .header-top-bar {
      min-height: 100px;
      height: 100%;
  
      padding: $header-media-padding;

      input[type="search"] {
        display: none;
      }

      
      h1 {
        font-size:1.5rem;
      }
    }
  }

  .nav {
    display: none;
  }
  .nav > ul{
    padding: $header-media-padding;
  }

  main {
    padding: $media-lr-padding;
  }

  .news-panel {
    display: flex;
    flex-direction: column;
  
    padding: $main-vertical-padding;
  
    border-bottom: 2px solid $deep-sea;
  }
  
  .article-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    // padding: $media-article-padding;
  }

  .thumb-card {
    padding: $media-thumb-padding;
  }
}


