body{
  background-color: $sun-line-lighten;

  font-family: $sans-serif;

  height: 100vh;
}

ul > li > a {
  padding: 0 1.5rem;
}

main {
  padding-left: $content-left-padding;
  padding-right: $content-right-padding;
}

h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $serif;
}