body{
  background-color: $sun-line-lighten;

  font-family: $sans-serif;

  height: 100vh;

  overflow-x: hidden;
}

ul > li > a {
  padding: 0 1.5rem;
}

main {
  padding-left: $content-left-padding;
  padding-right: $content-right-padding;
}

h1 {
  font-size: $h1-responsive-font;
}

h2 {
  font-size: $h2-responsive-font;
}

h3 {
  font-size: $h3-responsive-font;
}

h4 {
  font-size: $h4-responsive-font;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $serif;

}


// Just putting this here because I am stressed
.open {
  transform: translateX(0);
}





@media screen and (max-width:900px) {

  .header {
    height: 11vh;
    min-height:100px;
    
    .header-top-bar {
      min-height: 100px;
      height: 100%;
  
      padding: $header-media-padding;

      input[type="search"] {
        display: none;
      }

      
      h1 {
        font-size:1.5rem;
      }
    }
  }

  
  .nav > ul{
    padding: $header-media-padding;
  }

  .ham-wrap{
    display: flex;
  }
  
  main {
    padding: $media-lr-padding;
  }

  .news-panel {
    display: flex;
    flex-direction: column;
  
    padding: $main-vertical-padding;
  
    border-bottom: 2px solid $deep-sea;
  }
  
  .article-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    // padding: $media-article-padding;
  }

  .thumb-card {
    padding: $media-thumb-padding;
  }

// shift nav traits
  .nav {
    display: flex;
    position: fixed;
    justify-content: flex-end;
    align-self: flex-end;
  
    transform: translateX(300px);
  
    width: 40vw;
    max-width: 300px;
  
    background-color: $deep-pink;
    height: 100vh;
  
    transition: all .1s; 
  
    ul {
      display: flex;
      flex-direction: column;
      width:100%;
      background-color: $deep-pink;
      align-content: space-evenly;
      padding-left: 0;
  
      ul > li:first-child a {
        padding-left: 0;
      }
  
      li{
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
      }
    
      a {
        display: block;
        flex-grow:1;
        text-align: center;
        padding: .75rem 1.5rem;
    
      }
    }
  }

}


